<div ng-include="'partials/navbar.html'"></div>

<div class="container">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <h2>Help</h2>
    <p>What is the goal of Lorecat?</p>
    <p>A: The goal of Lorecat is to help you learn. Wikipedia is an incredibly useful and accessible source of knowledge. However, passive reading does not yield optimal retention. We seek to make reading and learning from Wikipedia an active process, by creating quizzes with fill-in-the-blanks which necessitates stopping and thinking, thereby strengthening neural connections.</p>
    <p></p>
      
  </div>

  <div class="col-md-3">
  </div>
</div>

<div ng-include="'partials/footer'"></div>