<div ng-include="'partials/navbar.html'"></div>

<div class="container">
  <div class="col-md-3"></div>

  <div class="col-md-6 help">
    <h2>Help</h2>
    <p>The goal of Lorecat is to help you learn. Wikipedia is an incredibly useful and accessible source of knowledge. However, passive reading does not always yield optimal retention. Lorecat makes reading and learning from Wikipedia an active process, by creating quizzes with fill-in-the-blanks which forces the reader to stop and think. This active process strengths neural connections.</p>
    <p></p>
      
  </div>

  <div class="col-md-3">
  </div>
</div>

<div ng-include="'partials/footer'"></div>